html,css {
    background-color: #121213;
    color: rgb(244, 16, 16);
    font-family:  Helvetica, Arial,  sans-serif;
    font-size: 1.3rem;
    padding: 70px;

}
button{
    padding: 20px;
    font-size: 2,2rem;
    margin-right: 5px;
    color: crimson;
    
}